<ion-view view-title="About">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">The Supreme Court of the United States</div>
      <div class="item item-body">
        <div>
          The Supreme Court of the United States, otherwise known as SCOTUS, is the highest court in the land and consists of 9 judges, otherwise knows as Justices. They are one of the three branches of government and there is no appeal to their decisions.
        </div>
      </div>
    </div>
    <buttton class="">SEE SCOTUS</buttton>
  </ion-content>
</ion-view>