<ion-view view-title="MORE">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">More Things to Do...</div>
      <div class="item item-body">
        <div>
          The Supreme Court of the United States, otherwise known as SCOTUS, is the highest court in the land and consists of 9 judges, otherwise knows as Justices. They are one of the three branches of government and there is no appeal to their decisions.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>